/* 
* Tatiana Mendez
* March 5, 2019
* Prom Dress Web Page
*/

/* The universal selector */

* {

}

/* Body properties here */

body {
    width: 80%;
    margin: auto;
    background-color: bisque;
    font-family: "Times New Roman"
}

h1 { /*type selector for ALL h1s*/
    background-color: azure; /* color for background */
    color: darkcyan; /*color of text */
}

p {/*type selector for ALL paragraphs*/
    color: cadetblue;
}

#darksalmontext { /*use an ID to change the text to dark salmon */
    color: darksalmon;
}

.darkseagreentext { /* use a class to change text to dark sea green */
    color: darkseagreen
}